.carousel-item {
    max-height: 95vh;
}

.overlay {
    position: relative;
}

.overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
}
